{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>HELSPO</title>
    <meta charset="utf-8">
    <link href="{% static 'foodApp/css/helspo_photo.css' %}"rel="stylesheet">
</head>

<body>
    <h2>食べログ</h2>
    <hr>
    <h1>HELSPO学食 東洋大学赤羽台キャンパス</h1>
    <h3>(ヘルスポガクショク)</h3>
    <h4>赤羽駅/定食、ラーメン</h4>
    <hr>

    <h3>~600円</h3>

    <ul>
        <li>
            <a href="{% url 'helspo' %}">トップ</a>
        </li>
        <li>
            <a href="{% url 'helspo_photo' %}">写真</a>
        </li>
        <li>
            <a href="{% url 'helspo_comment' %}">コメント</a>
        </li>
    </ul>

    <p>
        写真
    </p>

    <!--<img src="{% static "images/ooo.ipg"%}">??-->

</body>

</html>