{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>HELSPO食堂</title>
        <link href="{% static 'foodApp/css/helspo.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>
            <!-- ヘッダー情報、ロゴ、ナビゲーションなど -->
        </header>
        <main>
            <section id="restaurant-info">
                <h1>HELSPO食堂</h1>
                <p>ジャンル・タイプ: 定食、ラーメン</p>
                <p>価格帯: ~600円</p>
                <p>場所: 東洋大学赤羽台キャンパス　HELSPO</p>
                <!-- 星評価などの表示もここに含める -->
            </section>
            <section id="photos">
                <!-- 写真ギャラリー -->
                <h2>写真</h2>
                <!-- 写真をグリッド表示 -->
                <div>
                    <!-- 写真を表示 -->
                    <img src="{% static 'foodApp/img/helspo.jpg' %}" alt="写真１">
                    <img src="{% static 'foodApp/img/helspo2.jpg' %}" alt="写真2">
                    <!-- 他の写真 -->
                </div>
            </section>
            <section id="menu">
                <!-- メニュー情報 -->
                <h2>メニュー</h2>
                <!-- メニュー項目をリスト表示 -->
                <ul>
                    <li>日替わり定食A</li>
                    <li>日替わり定食B</li>
                    <li>日替わり丼</li>
                    <li>ラーメン</li>
                    <li>うどん</li>
                    <li>そば</li>
                    <li>カレー</li>

                    <!-- 他のメニュー項目 -->
                </ul>
            </section>
            <section id="reviews">
                <!-- レビューセクション -->
                <h2>レビュー</h2>
                <!-- レビューを表示 -->
                <article>
                    <p>レビュー内容1</p>
                    <!-- レビュー詳細 -->
                </article>
                <article>
                    <p>レビュー内容2</p>
                    <!-- レビュー詳細 -->
                </article>
                <!-- 他のレビュー -->
            </section>
            <section id="location">
                <!-- マップ情報 -->
                <h2>場所</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d404.6044399078554!2d139.716588494958!3d35.77941650127175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601893a79380cee3%3A0xd678b21c86d229e8!2z6LWk57695Y-w44Kt44Oj44Oz44OR44K55a2m55Sf6aOf5aCC!5e0!3m2!1sja!2sjp!4v1704383394709!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    class="google-map"
                    width="600"
                    height="450"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"</iframe>
                <!-- ここにGoogle Mapsなどの埋め込みマップを表示 -->
            </section>
        </main>
        <footer>
            <!-- フッター情報 -->
        </footer>
        <!-- 必要に応じてJavaScriptのリンク -->
    </body>
</html>