{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>飲食</title>
        <link href="{% static 'foodApp/css/index.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#restaurants">ランキング</a>
                    </li>
                    <li>
                        <a href="#ganre">ジャンル</a>
                    </li>
                    <li>
                        <a href="#contact">お問い合わせ</a>
                    </li>
                </ul>
            </nav>
            <h1>赤羽のおすすめ飲食店</h1>
        </header>
        <div id="slideshow">
            <div class="slide active">
                <img src="{% static 'foodApp/img/toutyo.JPG' %}" alt="写真1">
            </div>
            <div class="slide">
                <img src="{% static 'foodApp/img/ito.JPG' %}" alt="写真2">
            </div>
            <div class="slide">
                <img src="{% static 'foodApp/img/danbo.JPG' %}" alt="写真3">
            </div>
            <!-- その他のスライド -->
        </div>
        <section id="restaurants">
            <h2>お店一覧</h2>
            <a href="{% url 'hayashida' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/haya.png' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>はやし田</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>一番街/ラーメン、つけ麺</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'danbo' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/danbo.JPG' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>暖母（ダンボ）</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>カフェ・喫茶/パスタ・洋食</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'kyosuke' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/kyosuke.png' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>赤羽京介</h3>
                        <div class="rating">評価: ★★★★☆</div>
                        <p>赤羽駅から徒歩５分/つけ麺、ラーメン</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'helspo' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/helspo.jpg' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>Helspo食堂</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>東洋大学赤羽台キャンパス/食堂</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'iki' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/iki1.jpg' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>粋</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>ルージュ１ 13-, ２丁目-１５-６ 赤羽 北区 東京都 115-0045</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'ginpu' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/ginpu.png' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>吟風</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>最寄り駅：赤羽駅 [東京]/つけ麺、ラーメン</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'himuro' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/himuro.png' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>ひむろ</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>最寄り駅：赤羽駅 [東京]/つけ麺、ラーメン</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'matuya' %}">
                <div class="restaurant">
                    <img src="{% static 'foodApp/img/matuya.png' %}" alt="レストラン1">
                    <div class="restaurant-info">
                        <h3>松屋</h3>
                        <div class="rating">評価: ★★★☆☆</div>
                        <p>最寄り駅：赤羽駅 [東京]/牛丼、カレー</p>
                    </div>
                </div>
            </a>
        </section>
        <section id="ganre">
            <h2>ジャンル</h2>
        </section>
        <footer>
            <p>© 2023 Class5 Group7. All rights reserved.</p>
        </footer>
        <script src="{% static 'foodApp/js/script.js' %}"></script>
    </body>
</html>
<script src="{% static 'foodApp/js/script.js' %}"></script>
