<!DOCTYPE html>
<html lang="ja">

<head>
    <title>京介</title>
    <meta charset="utf-8">

</head>

<body>
    <h2><a href="index.html">Home</a></h2>
    <hr>
    <h2>赤羽京介</h2>
    <p>最寄り駅：赤羽駅 [ 東京都 ], ジャンル：つけ麺</p>
    <p>予算：￥900～,  定休日：年末年始</p>
    
    <ul>
        <li>
            <span class="Top">Top</span>
            <p>aaa</p>
        </li>
        <li>
            <a href="kyosuke_Photo.html"><span class="Photo">Photo</span></a>
        </li>
        <li>
            <a href="kyosuke_Comment.html"><span class="Comment">Comment</span></a>
        </li>
    </ul>

    <p>ss</p>
</body>



<style>
    h1 {
        color: rgb(16, 16, 16);
    }

    ul {
        position: center;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; /* Flexboxを使用して横並びにする */
    }

    li {
        padding-right: 0%; /* 項目の間隔を調整（必要に応じて調整してください） */
    }

    .Top,
    .Photo,
    .Comment {
        font-size: 35px;
        padding: 10px;
        border: 1px solid #ccc; /* ボーダーを追加 */
    }
</style>


</html>