{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>赤羽京介</title>
        <link href="{% static 'foodApp/css/template.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>
            <!-- ヘッダー情報、ロゴ、ナビゲーションなど -->
        </header>
        <main>
            <h2>
                <a href="{% url 'foodApp' %}"><span class="Home">Home</span></a>
            </h2>
            <section id="restaurant-info">
                <h1>赤羽京介</h1>
                <p>ジャンル・タイプ: 定食、ラーメン</p>
                <p>価格帯: 900円~</p>
                <p>場所: 〒115-0055 東京都北区赤羽西１丁目７−１</p>
                <!-- 星評価などの表示もここに含める -->
            </section>
            <section id="photos">
                <!-- 写真ギャラリー -->
                <h2>写真</h2>
                <!-- 写真をグリッド表示 -->
                <div>
                    <!-- 写真を表示 -->
                    <img src="{% static 'foodApp/img/kyosuke1.jpg' %}" alt="写真１">
                    <img src="{% static 'foodApp/img/kyosuke2.jpg' %}" alt="写真2">
                    <!-- 他の写真 -->
                </div>
            </section>
            <section id="menu">
                <!-- メニュー情報 -->
                <h2>メニュー</h2>
                <!-- メニュー項目をリスト表示 -->
                <ul>
                    <li>京介魚介つけ麺</li>
                    <li>京介魚介ラーメン</li>
                    <li></li>

                    <!-- 他のメニュー項目 -->
                </ul>
            </section>
            <section id="reviews">
                <!-- レビューセクション -->
                <h2>レビュー</h2>
                <!-- レビューを表示 -->
                <article>
                    <p>レビュー内容1</p>
                    <!-- レビュー詳細 -->
                </article>
                <article>
                    <p>レビュー内容2</p>
                    <!-- レビュー詳細 -->
                </article>
                <!-- 他のレビュー -->
            </section>
            <section id="location">
                <!-- マップ情報 -->
                <h2>場所</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.9155734961723!2d139.71612347579202!3d35.777450172556335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018931d87beb03b%3A0x5867164e48d08d49!2z44Gk44GR44KB44KT5bGLIOi1pOe-veS6rOS7iw!5e0!3m2!1sja!2sjp!4v1704379526612!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    class="google-map"
                    width="600"
                    height="450"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"</iframe>
                <!-- ここにGoogle Mapsなどの埋め込みマップを表示 -->
            </section>
        </main>
        <footer>
            <!-- フッター情報 -->
        </footer>
        <!-- 必要に応じてJavaScriptのリンク -->
    </body>
</html>