{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>京介</title>
    <meta charset="utf-8">
    <link href="{% static 'foodApp/css/kyosuke.css' %}" rel="stylesheet">

</head>

<body>
    <h2><a href="{% url 'foodApp' %}"><span class="Home">Home</span></a></h2>
    <hr>
    <h2>赤羽京介</h2>
    <p>最寄り駅：赤羽駅 [ 東京都 ], ジャンル：つけ麺</p>
    <p>予算：￥900～,  定休日：年末年始</p>
    
    <ul>
        <li>
            <a href="{% url 'kyosuke' %}"><span class="Top">トップ</span></a>
        </li>
        <li>
            <a href="{% url 'kyosuke_Photo' %}"><span class="Photo">写真</span></a>
        </li>
        <li>
            <a href="{% url 'kyosuke_Comment' %}"><span class="Comment">口コミ</span></a>
        </li>
    </ul>
    
    <div class="kyosuke1">
        <div class="img2"><img src="{% static 'foodApp/img/kyosuke.png' %}"></div> 
        <div class="img2"><img src="{% static 'foodApp/img/kyosukemap.png' %}"></div>
    </div>
    

    <hr>
    <div class="space">
    <ul>
        <div class="img1"><img src="{% static 'foodApp/img/kyosuke1.jpg' %}" alt="写真１"></div> 
        <div class="img1"><img src="{% static 'foodApp/img/kyosuke2.jpg' %}" alt="写真１"></div>        
    </ul>
    </div>

   
    
    <style>
        .img1 img {
          width: 300px; /* 例: 幅を200pxに指定 */
          height: auto; /* 高さは自動調整 */
          padding: 20px;
        }
        .img2 img{
            width: 400px;
            height: 300px;
        }

        .kyosuke1 {
            display: flex;
        }

        .img2 {
            margin-right: 30px; /* 画像間の余白を調整する場合は適宜設定 */
        }

        .img2 img {

            display: block; /* インライン要素として表示される余白を除去 */
        }

    </style>
    <div class="more"><a href="{% url 'kyosuke_Photo' %}">もっと見る</a></div>
    
    <hr>

    <h3>口コミ</h3>
    <div class="more"><a href="{% url 'kyosuke_Comment' %}">もっと見る</a></div>

</body>
</html>