h2{
    color: rgb(16, 16, 16);
   }



h2{
    display: flex;
    justify-content: center;
    align-items: center;

}


  
  a {
    text-decoration: none; /* リンクのデフォルトの下線をなくす */
    color: rgb(239, 203, 142); /* リンクのデフォルトの色を設定 */
  }
  
  a:hover {
    color: blue; /* マウスがリンク上にあるときの色を設定 */
  }

  

ul {
    position: center;
    list-style: none;
    display: flex; /* Flexboxを使用して横並びにする */
    margin-left: 10px;
    border-bottom: 2px solid #2e1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}



li{
    border: 1.5px solid #805353; /* ボーダーを追加 */
    padding: 15px;
}

.Top,
.Photo,
.Comment {
 margin-right: 10px; 
 font-size: 35px;
}


body{
  margin-left: 20px;
  margin-right: 20px;
}

.kyosuke{
  padding: 10px
}