h1{
    color: rgb(16, 16, 16);
   }

ul {
       position: center;
       list-style: none;
       padding: 0;
       margin: 0;
       display: flex; /* Flexboxを使用して横並びにする */
   }


.Top,
.Photo,
.Comment {
       font-size: 35px;
       padding: 10px;
       border: 1px solid #ccc; /* ボーダーを追加 */
       background-color: antiquewhite;
   }